<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- style.css -->
    <link rel="stylesheet" href="../stylesheets/app.css">
    <title>My-project</title>
</head>
<body>

    <nav>
        <div class="navigation">
            <a href="../../index.html">
                <div class="logo">
                    <div class="container-img"></div>
                </div>
            </a>
                <div class="toggle">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="whatsApp">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
                <div class="contact">
                    <span>contactanos</span>
                </div>
            </div>
        </div>
        <div class="mini-menu">
            <div class="row w-100" style="height: 70%;">
                <div class="col-lg-8 d-flex justify-content-start align-items-center">
                    <ul class="list-items-links">
                        <li class="item">
                            <span class="number">01</span>
                            <a href="about.html">
                                About
                            </a>
                        </li>
                        <li class="item">
                            <span class="number">02</span>
                            <a href="services.html">
                                Servicios
                            </a>
                        </li>
                        <li class="item">
                            <span class="number">03</span>
                            <a href="News.html">
                                Agenda
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 d-flex justify-content-start align-items-center flex-row">
                    <ul class="list-items-information">
                        <li class="item">
                            <h6 class="fw-normal">
                                Escribenos
                            </h6>
                            <p class="paragraph fw-normal fs-6 ms-2">ejemplo@gmail.com</p>
                        </li>
                        <li class="item">
                            <h6 class="fw-normal">
                                Escribenos
                            </h6>
                            <p class="paragraph fw-normal fs-6 ms-2">321564978</p>
                            <p class="paragraph fw-normal fs-6 ms-2">321564978</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row w-100" style="height: 30%;">
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <span>Clientes</span>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <span>Blog</span>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <span>Siguenos</span>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <section id="portada-about" class="portada-about">
            <div class="row h-100">
                <div class="col-md-12 col-sm-12 col-lg-4">
                    <div class="description h-100 d-flex justify-content-center align-items-center flex-column">
                        <h2 class="fs-1" style="color: var(--secondary-color);">Work tirelessly</h2>
                        <h2 class="fs-4 text-white">Lorem ipsum dolor sit.</h2>
                        <h1 style="color: var(--secondary-color);">TOMORROW</h1>
                        <p class="paragraph text-center text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus aut impedit dolorem quidem voluptates iure unde explicabo incidunt vero! Est, dolorum totam! Neque, asperiores dicta. Eligendi doloremque eum corrupti quam?</p>
                        <button>Ver más</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="sport-life" class="sport-life">
            <div class="row h-100">
                <div class="col-lg-6">
                    <div class="description h-100 d-flex justify-content-center align-items-center flex-column p-4">
                        <h2 class="fs-1 text-white">SPORT LIFE</h2>
                        <h3 class="fs-1 text-white">Build your body</h3>
                        <p class="paragraph text-center text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt exercitationem, delectus nesciunt numquam sit illum iure minus laboriosam dolorum fugiat praesentium adipisci. Est quisquam eum dolore tempora, commodi aperiam laborum!</p>
                    </div>
                </div>
                <div class="col-lg-6 h-100">
                    <div class="container-img w-100">
                        <img src="../assets/About/personaje.png" alt="" class="img fluid">
                    </div>
                </div>
            </div>
        </section>
        <section id="container-information" class="container-information">
            <div class="row h-100">
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="information d-flex justify-content-center align-items-center flex-row" style="gap: 20PX;">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="container-img">
                                    <img src="../assets/About/information/img-1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="description">
                                    <p class="paragraph text-white text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptates error voluptate. Facere sapiente voluptatum totam distinctio neque.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="information d-flex justify-content-center align-items-center flex-row" style="gap: 20PX;">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="container-img">
                                    <img src="../assets/About/information/img-2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="description">
                                    <p class="paragraph text-white text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptates error voluptate. Facere sapiente voluptatum totam distinctio neque.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="information d-flex justify-content-center align-items-center flex-row" style="gap: 20PX;">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="container-img">
                                    <img src="../assets/About/information/img-3.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
                                <div class="description">
                                    <p class="paragraph text-white text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptates error voluptate. Facere sapiente voluptatum totam distinctio neque.</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer id="footer" class="w-100">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 d-flex justify-content-center align-items-center">
                        <h2>¿Y si nos reunimos?</h2>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="container-img">
                                        <img src="../assets/footer/img-1.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-lg-9 ps-5">
                                    <div class="container-description">
                                        <p class="paragraph fw-bold fs-5">Soy una pyme y tengo una gran idea</p>
                                        <a href="">Escibenos +</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="container-card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="container-img">
                                        <img src="../assets/footer/img-2.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-lg-9 ps-5">
                                    <div class="container-description">
                                        <p class="paragraph fw-bold fs-5">Soy una pyme y tengo una gran idea</p>
                                        <a href="">Escibenos +</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="container-img">
                        <img src="../assets/Logo/logo.png" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-3 d-flex justify-content-center align-items-start flex-column">
                    <p class="fs-6 fw-bold">Visitanos</p>
                    <p class="fs-6">Lima peru</p>
                </div>
                <div class="col-lg-3 d-flex justify-content-center align-items-start flex-column">
                    <p class="fs-6 fw-bold">Hablemos</p>
                    <p class="fs-6">32183847211</p>
                    <p class="fs-6">32183847211</p>
                </div>
                <div class="col-lg-3 d-flex justify-content-center align-items-start flex-column">
                    <p class="fs-6 fw-bold">Escribenos</p>
                    <p class="fs-6">ejempl@gmail.com</p>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-lg-4 d-flex justify-content-center align-items-center" style="gap: 20px;">
                    <h4 class="fs-6">Siguenos en nuestreas redes</h4>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <p>Paginas enconec</p>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <span class="fs-6 paragraph text-white">Esta pagina es una pagina unica y hecha por las redes de esta apgina asi que no se pude copoar y pegar en otro aldo</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <!-- swiper -->
    <script src="src/scripts/swiper/swiper.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <!-- js -->
    <script src="../scripts/config.js"></script>
</body>
</html>