<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <!-- style.css -->
    <link rel="stylesheet" href="../stylesheets/app.css">
    <title>My-project</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="" alt="">
        </div>
        <ul>
            <li>
                <a href="../../index.html">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="services.html">Services</a>
            </li>
            <li>
                <a href="News.html">Noticias</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="container-inputs">
            <form>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
        
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
        
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono">
        
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
        
                <input type="submit" value="Enviar">
            </form>
        </section>
    </main>
    
    <footer>
        <span>LogosFree</span>
        <div>
            <h4>Visítanos</h4>
            <ul>
                <li>Lima, Perú.</li>
            </ul>
        </div>
        <div>
            <h4>Hablemos</h4>
            <ul>
                <li>949281837</li>
                <li>914860435</li>
            </ul>
        </div>
        <div>
            <h4>Escríbenos</h4>
            <ul>
                <li>info@ejemplo.com</li>
            </ul>
        </div>
    </footer>
</body>
</html>