<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <!-- style.css -->
    <link rel="stylesheet" href="../stylesheets/app.css">
    <title>My-project</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="" alt="">
        </div>
        <ul>
            <li>
                <a href="../../index.html">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="services.html">Services</a>
            </li>
            <li>
                <a href="News.html">Noticias</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </nav>
    <main>
        <section id="front-page" class="services-front-page">
            <div class="information">
                <h1>Lorem ipsum dolor sit.</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, similique eaque mollitia explicabo sed ipsum numquam minus eligendi itaque exercitationem! Sequi dolores sed aliquid consectetur delectus modi ullam expedita sapiente.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, similique eaque mollitia explicabo sed ipsum numquam minus eligendi itaque exercitationem! Sequi dolores sed aliquid consectetur delectus modi ullam expedita sapiente.</p>
                <button>ver más</button>
            </div>
        </section>
        <section id="child-content" class="child-content-services">
            <div class="container-img">
                <div class="img">
                    <img src="../assets/modelo-bebiendo.jpg" alt="">
                </div>
            </div>
            <div class="description">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique molestias dolores vero harum consectetur totam eius corrupti non tenetur maxime facere, velit impedit, fugit molestiae deserunt, libero voluptas voluptates! Ipsa?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam praesentium iusto obcaecati quisquam fuga, repellendus explicabo aut! Earum, eum ex itaque culpa dolor debitis atque sequi quibusdam! Voluptas, error sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur enim minima provident magni praesentium? Sint, exercitationem cupiditate! Sapiente assumenda veritatis ut optio quaerat, facilis at. Vel porro veniam nesciunt fugit.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam praesentium iusto obcaecati quisquam fuga, repellendus explicabo aut! Earum, eum ex itaque culpa dolor debitis atque sequi quibusdam! Voluptas, error sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur enim minima provident magni praesentium? Sint, exercitationem cupiditate! Sapiente assumenda veritatis ut optio quaerat, facilis at. Vel porro veniam nesciunt fugit.</p>
            </div>
        </section>
    </main>
    <footer>
        <span>LogosFree</span>
        <div>
            <h4>Visítanos</h4>
            <ul>
                <li>Lima, Perú.</li>
            </ul>
        </div>
        <div>
            <h4>Hablemos</h4>
            <ul>
                <li>949281837</li>
                <li>914860435</li>
            </ul>
        </div>
        <div>
            <h4>Escríbenos</h4>
            <ul>
                <li>info@ejemplo.com</li>
            </ul>
        </div>
    </footer>
</body>
</html>